/** @format */

.bracket {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 0;
}

.buyton-cont {
  height: fit-content;
  margin: 80px 0;
}

.playBtn {
  width: 100px;
  height: 50px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.playBtn:hover {
  background: #fff;
  color: #4caf50;
  transition: all 0.8s;
}
.champion-cont .participants {
  border: 2px solid #ffb100 !important;
  margin: 5px 10px;
}
.groupA {
  margin-right: 20px;
}
.groupB {
  margin-left: 20px;
}
.round {
  display: inline-block;
  vertical-align: middle;
}
.groupA .round .winners > div {
  display: inline-block;
  vertical-align: middle;
}
.matchup:last-child {
  margin-bottom: 0 !important;
}
.matchup .participants {
  border-radius: 2px;
  overflow: hidden;
}
.matchup .participants {
  box-sizing: border-box;
  color: #858585;
  background: white;
  border-radius: 10%;
  border: 2px solid #777;
  width: 90px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.round .winners > div.matchups .matchup .participants:not(:last-child) {
  border-bottom: thin solid #f0f2f2;
}
.matchup .participants span {
  line-height: 1.5;
  font-size: 14px;
  color: #000;
  white-space: normal;
}

.connector .line,
.connector .merger {
  box-sizing: border-box;
  width: 30px;
  display: inline-block;
  vertical-align: top;
}
.connector .line {
  border-bottom: thin solid #c0c0c8;
  height: 40px;
}
.connector .merger {
  position: relative;
  height: 80px;
}
.connector .merger:before,
.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #c0c0c8;
}
.groupA .round .winners > div.connector .merger:before {
  border-right-width: thin;
  border-top-width: thin;
}
.groupA .round .winners > div.connector .merger:after {
  border-right-width: thin;
  border-bottom-width: thin;
}

.round.eighthfinal .winners:not(:last-child) {
  margin-bottom: 20px;
}
.round.eighthfinal .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 20px;
}

.round.quarterfinals .winners:not(:last-child) {
  margin-bottom: 100px;
}
.round.quarterfinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 85px;
}
.groupA .round.quarterfinals .winners .connector .merger {
  height: 150px;
}
.groupA .round.quarterfinals .winners .connector .line {
  height: 80px;
}

.round.semifinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 235px;
}
.groupA .round.semifinals .winners .connector .merger {
  height: 290px;
}
.groupA .round.semifinals .winners .connector .line {
  height: 145px;
}
.groupA .round.finals .winners .connector .merger {
  height: 30px;
}
.groupA .round.finals .winners .connector .line {
  height: 15px;
}

/* GROUP--B -----------------------------------------------------------------------


-
*/

.groupB .round .winners > div {
  display: inline-block;
  vertical-align: middle;
}

.groupB .round .winners > div.connector .line,
.groupB .round .winners > div.connector .merger {
  box-sizing: border-box;
  width: 30px;
  display: inline-block;
  vertical-align: top;
}
.groupB .round .winners > div.connector .line {
  border-bottom: thin solid #c0c0c8;
  height: 40px;
}
.groupB .round .winners > div.connector .merger {
  position: relative;
  height: 80px;
}
.groupB .round .winners > div.connector .merger:before,
.groupB .round .winners > div.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #c0c0c8;
}
.groupB .round .winners > div.connector .merger:before {
  border-left-width: thin;
  border-top-width: thin;
}
.groupB .round .winners > div.connector .merger:after {
  border-left-width: thin;
  border-bottom-width: thin;
}

.groupB .round.eighthfinal .winners:not(:last-child) {
  margin-bottom: 20px;
}

.groupB .round.eighthfinal .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 20px;
}

.groupB .round.quarterfinals .winners:not(:last-child) {
  margin-bottom: 100px;
}

.groupB .round.quarterfinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 85px;
}
.groupB .round.quarterfinals .winners .connector .merger {
  height: 150px;
}
.groupB .round.quarterfinals .winners .connector .line {
  height: 80px;
}

.groupB .round.semifinals .winners .matchups .matchup:not(:last-child) {
  margin-bottom: 235px;
}
.groupB .round.semifinals .winners .connector .merger {
  height: 290px;
}
.groupB .round.semifinals .winners .connector .line {
  height: 145px;
}
.groupB .round.finals .winners .connector .merger {
  height: 30px;
}
.groupB .round.finals .winners .connector .line {
  height: 15px;
}
